{% extends 'base.html' %} {% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                With this shop hompeage template
            </p>
        </div>
    </div>
</header>
<br><br><br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vestibulum sapien sapien, hendrerit in sollicitudin vel,
                    convallis eget neque. Aenean consequat massa vitae tortor
                    interdum, sed hendrerit eros luctus. Nulla vulputate eros
                    odio, eu congue lacus condimentum a. Aliquam varius augue et
                    diam laoreet congue. Vestibulum arcu purus, sagittis non
                    nisi eu, malesuada molestie eros. Morbi mi nisl, posuere
                    vitae sollicitudin quis, gravida aliquet tortor. Aliquam
                    vitae finibus massa. Nam consequat, est nec posuere
                    ultricies, risus mi auctor lorem, eu pretium est lacus non
                    metus. Sed vehicula dictum facilisis. Sed eu felis eget
                    lorem eleifend gravida a quis risus. In non euismod purus,
                    at convallis nisi. Nam ut velit felis.
                </p> <br><br>
                <p align="justify">Ut dignissim sit amet erat eget porttitor. Pellentesque
                    habitant morbi tristique senectus et netus et malesuada
                    fames ac turpis egestas. In dui nibh, porttitor id lacus ut,
                    dignissim mollis nunc. Suspendisse id molestie risus, in
                    fermentum orci. Etiam imperdiet convallis mauris non
                    consectetur. Integer a mi magna. Nullam malesuada facilisis
                    luctus. Maecenas sagittis, mauris tempor pellentesque
                    pellentesque, felis risus lacinia quam, nec lobortis ipsum
                    odio sed risus. Nam ultrices elementum odio, eget venenatis
                    velit finibus at. Fusce sed luctus tortor. </p> <br><br>
                <p align="justify">Suspendisse dignissim, odio et dapibus fringilla, eros mi
                    sodales diam, nec malesuada ante nibh eu diam. Etiam nec
                    risus a nisl dictum volutpat hendrerit eu felis. Aliquam
                    erat volutpat. Aenean gravida lectus vitae dui sagittis, in
                    euismod augue feugiat. Nam placerat arcu orci. Curabitur
                    tempor purus dolor, in aliquet mauris varius vitae. Cras vel
                    hendrerit odio. Nulla maximus ut est in faucibus. Curabitur
                    tortor erat, tempor non metus sed, pretium tincidunt neque.
                    Nam sodales, neque sed auctor tempus, augue mauris mattis
                    lectus, non consequat nisl odio eu enim. Nam luctus maximus
                    pretium. Aenean dignissim dolor tempus sem dapibus placerat.
                    Pellentesque feugiat ultricies nisi, sed lobortis risus
                    convallis in. </p> <br><br>

            </div>
        </center>
    </div>
</div>
{% endblock %}
